*{
    margin:0;
    padding:0;
}

.box1{
    width:80%;
    height:100px;
    border:2px solid red;
    /* margin-top: 50px;
    margin-left: 50px; */ 
    margin: 10px 20px 30px 40px;
    background: lightcyan;
    padding:0.5em;

}
.box2{
    width:80%;
    height:100px;
    border:2px solid green;
    /* margin-top: 50px;
    margin-left: 50px; */
    margin: 10px 20px 30px 40px;
}
.box3{
    width:80%;
    height:100px;
    border:2px solid blueviolet;
    /* margin-top: 50px;
    margin-left: 50px; */
    margin: 10px 20px 30px 40px;
}